<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!--Linking in our CSS file-->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Hello {{ person }}!</h1>
    <a href="{{ url_for('another') }}">Go to Another Page</a>

    <!--JS files need to be at the BOTTOM of the HTML file to work properly-->
    <script src="../static/index.js"></script>
</body>
</html>