<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Data</title>
    <link rel="stylesheet" href="../static/styles.css"><!--CSS-->
</head>
<body>
    <h1>Please Enter Your Data</h1>

    <form method="post" action="/">
        <input class="inputBar" type="text" name="name" placeholder="Your Name:">
        <input class="inputBar" type="age" name="age" placeholder="Your Age:">
        <input class="inputBar" type="text" name="favTeam" placeholder="Your Favorite Team:">
        <input id="submitBtn" type="submit" value="SUBMIT">
    </form>
    
</body>
</html>